#banner{
    background-image: url("/public/BusPhotoForProject.jpg");
    background-size: cover;
   
}


.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(202, 221, 221);
    position: relative;
    top: 30px;
    left: 900px;
    height: 370px;
    width: 400px;
    border-radius: 20px;
}

CustomInput{
    height: 24px;
}

