#banner{
  background-image: url("/public/BusPhotoForProject.jpg");
  background-size: cover;
 
}


/* .gender-select {
    margin-top: 10px;
    border: 2px solid black;
    box-sizing: 50px;
    width: 480px;
  }

  .container{
     justify-content: center; 
    align-items: center;
    margin-left: 500px;
    margin-right: 400px;
    margin-top: 80px;
    background-color: bisque;
  } */

  /* #banner{
    height: 768px;
    background-image: url("../../../../public/BusPhotoForProject.jpg");
    background-size: cover;
  } */

  /* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #a19696
  } */
  
  .form-ctrl{
    background-color  : white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;  
    height: 680px;
    width: 440px;
    top : 20px;
    left : 700px;
    border-radius: 30px;
  }

  .form-ctrl :hover{
    border: none;
    border-bottom: 3px solid black;
  }

  form CustomInput{
    width: 40px;
  }
    
  .container{

  }
  
 div form h2 {
    font-family: 'Poppins', sans-serif;
    color: #09206e;
    text-align : center;
  font-weight: 30px;
  }
  
  form {
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .gender-select {
    width: 350px;
    height: 40px;
    margin-top: 18px;
    border: none;
    border-bottom: 2px solid black;
  }


  button {
    display: inline-block;
    padding: 10px 20px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #434543;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  

  